.nav {
  background-color: #33a921;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #167c07;
}

.nav a {
  color: #303030;
  text-decoration: none;
}

.links {
  height: 100%;
}

.links a {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  padding: 0 10px;
  position: relative;
}
.icon {
  position: relative;
  top: 4px;
  right: 2px;
}
.links a:hover {
  color: white;
}

.links a span {
  display: inline-block;
  margin-top: 20px;
}

.logo {
  color: white;
  margin: 0 0 0 15px;
}
