/* Estilos nav normal */

.nav {
  background-color: #33a921;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #167c07;
}

.nav a {
  color: #303030;
  text-decoration: none;
}

.links {
  height: 100%;
}

.links a {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  padding: 0 10px;
  position: relative;
}
.icon {
  position: relative;
  top: 4px;
  right: 2px;
}
.links a:hover {
  color: white;
}

.links a span {
  display: inline-block;
  margin-top: 20px;
}

.logo {
  color: white;
  margin: 0 0 0 15px;
}
.shopping{
  color: black;
  position: absolute;
  top: 20px;
  right: 2px;
}

/* Estilos nav de admin */
.adminNav {
  background-color:#362181;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  overflow: hidden;
  border-bottom: 2px solid #4527A0;
}
@keyframes backBtn {
  0%{left: 0;}25%{left: 5px;}50%{left: 0px;}75%{left:5px;}100%{left:0;}
}
.adminNav a:hover{
  animation-duration: 1s;
  animation-name: backBtn;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
}
.adminNav a{
  position: relative;
  float: left;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 10px;
  color:#362181;
  padding: 5px 0 5px 0;
  background-color: rgba(255,255,255,.8);

}
