.icon{
	position: absolute;
	left: 2px;
	top:-4px;
}

.cancelBtn{
  outline: none;
	cursor: pointer;
	border: none;
	position: relative;
	border-radius: 10px;
	padding: 13px 20px 20px 20px;
	margin-bottom: 50px;
	margin-right: 5px;
	color:#fff;
	background-color: #bf0d0d;
}
.cancelBtn:hover{
	background-color: #9c0b0b;
}
