.form{
	position: fixed;
	z-index: 502;
	top:0;
	left:0;
	background-color: rgba(0,0,0,.8);
	width: 100%;
	height: 100%;
}
.content{
	position: relative;
	margin-left:auto;
	margin-right: auto;
	margin-top:50px;
	width: 600px;
	background-color:whitesmoke;
	border-radius: 10px;
	overflow: hidden;
	height: 300px;
}
.content legend{
	color:black;
	text-align: left;

}
.inputs{
	margin-right: 10px;
	margin-left: 1px;
	float: left;
	width: 200px;
}
.content fieldset{
	border: none;
	font-weight: 500;
	margin-left: 50px;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 400px;
	border: 2px solid #362181;
	border-radius: 10px;
	height: 40%;
}
.estrellas{
	width: 100%;
	margin-left: -120px;
	margin-right: auto;
	display: flex;
}
.estrellas fieldset{
	width: 100px;
	margin-left: 170px;
	margin-right: 310px;
	padding: 1px;
	display: inline-block;
}
.input{
	resize: none;
	font-size: 10px;
	background:transparent;
	border: none;
	outline: none;
	outline-style: none;
	width: 95%;
	padding: 5px 0 5px 5px;
}
.success{
    
	margin-right: auto;
	margin-left: auto;
}
