body{
	background-color: lightgray;
}
.catalogue{
	width: 100%;
	height: 100%;
	position: relative;
}

.filters{
	width: 18%;
	min-height: 600px;
	background-color: red;
	float:left;
	border-right: 1px solid black;
}
.products{
	width: 80%;
	min-height: 600px;
	float:right;
}
.listproducts{
	margin-left:80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}
