.searchInput{
	margin-left:20%;
	height: auto;
	display: inline-block;
}

input{

	font-size: 18px;
	color:white;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	outline: none;
	outline-style: none;
	padding: 6px 8px;
	border: 1px solid #ccc;
}

input[type=text]{
	color:black;
	background-color: rgba(255,255,255,.8);
	border-radius:10px 0 0 10px;
	width:400px;	
}
input[type=text]::placeholder{
	color: gray;
}

input[type=submit]{
	border:1px solid #ccc;
	border-left: none;
	border-radius: 0 10px 10px 0;
	color: white;
	background-color:transparent;
}

input[type=submit]:hover{
	border: 1px solid #4EA32A;
	border-left: none;
	background-color: #4EA32A;
}
