.searchInput {
  display: inline-block;
  width: 300px;
  height: 40px;
  margin-right: 30px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.searchInput input {
  margin: 0;
}

.searchInput input[type="text"] {
  font-size: 20px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 5px;
  border: none;
  outline: none;
  outline-style: none;
  color: #000;
  float: left;
}
.searchInput input[type="text"]::placeholder {
  color: #eee;
}

.searchInput button {
  font-size: 18px;
  padding: 10px 0;
  border: none;
  height: 100%;
  width: 40px;
  color: #dbdbdb;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
}
.searchInput button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
